<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
        <title>yssb</title>
        <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 20px;
          text-align: center;
          font-size: 14px;
          cursor: pointer;
        }

        .button:hover {
            background-color: green;
        }
        </style>

        <!-- 부트스트랩 -->
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
        <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">YSSB</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>-->
            <% if(sess_level==0) { %>
            <li><a href="/manager_page">MY PAGE</a></li>
            <% } else if (sess_level==1) { %>
            <li><a href="/client_profile/<%= sess_id %>">MY PAGE</a></li>
            <% } else if (sess_level==2) { %>
            <li><a href="/freelancer_profile/<%= sess_id %>">MY PAGE</a></li>
            <% }%>
            <% if(sess_id){ %>
            <li><a href="/request_list">Request List</a></li>
            <% }%>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if(sess_id){ %>
              <li><a href="/logout">LOG OUT</a></li>
            <% }else{ %>
              <li><a href="/login">LOG IN</a></li>
              <li><a href="/signup">SIGN UP</a></li>
            <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <body>

        <div id="basic_info">
          <h3>의뢰 정보</h3>
          <table style="width :100%;" class="table table-striped">
            <tbody>
            </tbody>
          </table>
        </div>

        <div id="update_visible">
            <form class="form-inline" id="update">
                <select id="update_attr">
                    <option value="Title">Title</option>
                    <option value="Pay">Pay</option>
                    <option value="Min_career">Min Career</option>
                </select>
                <input type="text" class="form-control" id="update_value" placeholder="new value">
                <input type="submit" class="btn btn-default" value="UPDATE">
            </form>
        </div>

        <div id="apply_visible">
          <h3>의뢰 신청</h3>
          <table>
            <tbody>
              <!--<td>
                <input type="button" class="btn btn-default" onclick="apply_request()" value="의뢰 신청">
              </td>-->
            </tbody>
          </table>
        </div>

        <table class="table table-striped" id="language">
            <caption>필요 언어</caption>
            <thead>
                <tr>
                    <th>Language</th>
                    <th>level</th>
                    <!--권한 설정 필요-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <div id="language_add_visible">
            <form class="form-inline" id="language_add">
                <select id="new_language">
                    <option value="C">C</option>
                    <option value="C++">C++</option>
                    <option value="C#">C#</option>
                    <option value="Python">Python</option>
                    <option value="Java">Java</option>
                    <option value="Html">Html</option>
                    <option value="Javascript">Javascript</option>
                    <option value="PHP">PHP</option>
                    <option value="R">R</option>
                    <option value="Swift">Swift</option>
                    <option value="mySql">mySql</option>
                    <option value="Ruby">Ruby</option>
                </select>
                <input type="radio" name="skill" value="1">1
                <input type="radio" name="skill" value="2">2
                <input type="radio" name="skill" value="3">3
                <input type="radio" name="skill" value="4">4
                <input type="radio" name="skill" value="5">5
                <input type="submit" class="btn btn-default" value="ADD">
            </form>
        </div>

        <table class="table table-striped" id="request_file">
            <caption>의뢰 문서</caption>
            <thead>
                <tr>
                    <th>Title</th>
                    <!--권한 설정 필요-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

        <!-- 권한 설정 필요 -->
        <div id="add_req_spec">
            <!--action="/file_upload/add_req_spec" method="POST"-->
            <form  action="/file_upload/add_req_spec" method="POST" class="form-inline"enctype="multipart/form-data">
                <input type="hidden" name="request_id" value="<%=sess_page_id%>">
                <input type="file" class="btn btn-default" name="file">
                <input type="submit" class="btn btn-default" value="ADD">
            </form>
        </div>

        <div id="worker">
              <h3>참여 중인 프리랜서</h3>
              <table style="width :100%;" class="table table-striped">
              <thead>
                  <tr>
                      <th>아이디</th>
                      <th>상태</th>
                      <th>완료요청</th>
                      <th>거부사유확인</th>
                      <th>완료수락</th>
                      <th>완료거절</th>
                      <th>평점등록</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>

        <div id="applier">
              <h3>신청 중인 프리랜서</h3>
              <table style="width :100%;" class="table table-striped">
              <thead>
                  <tr>
                      <th>아이디</th>
                      <th>상태</th>
                      <th>선택</th>
                      <th>거절</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>

        <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </body>

    <script>
        var path_array = window.location.pathname.split('/');
        var Id = path_array[2];

        $(function(){

            $.ajax({
                type: 'get',
                url: '/get_request_info/'+Id,
                success: function(data) {
                    console.log(data);
                    $('#basic_info tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var Cid = data[i].Client_id;
                        var will_be_append = '<tr>'+
                                                    '<th>의뢰 번호</th>'+
                                                    '<td>'+data[i].Id+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>의뢰 제목</th>'+
                                                    '<td>'+data[i].Title+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>보상 금액</th>'+
                                                    '<td>'+data[i].Pay+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>자격 요건(경력)</th>'+
                                                    '<td>'+data[i].Min_career+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>의뢰 가능여부</th>'+
                                                    '<td>'+data[i].State+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>의뢰신청 시작 날짜(의뢰 등록 날짜)</th>'+
                                                    '<td>'+data[i].Apply_start_date+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>의뢰신청 마감 날짜</th>'+
                                                    '<td>'+data[i].Apply_end_date+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>개발 시작날짜</th>';

                        if(data[i].Working_start_date == null)
                            will_be_append = will_be_append.concat('<td>개발이 시작되지 않음</td>');
                        else
                            will_be_append = will_be_append.concat('<td>'+data[i].Working_start_date+'</td>');

                        will_be_append = will_be_append.concat('</tr>'+'<tr>'+'<th>개발 종료날짜</th>');

                        if(data[i].Working_end_date == null)
                            will_be_append = will_be_append.concat('<td>개발이 종료되지 않음</td>');
                        else
                            will_be_append = will_be_append.concat('<td>'+data[i].Working_end_date+'</td>');

                        if(data[i].Client_id!=null) {
                            will_be_append = will_be_append.concat( '</tr>'+
                                                                    '<tr>'+
                                                                        '<th>Client</th>'+
                                                                        '<td><a href="/client_profile/'+data[i].Client_id+'">'+data[i].Client_id+'</a></td>'+
                                                                    '</tr>');
                        }
                        else {
                            will_be_append = will_be_append.concat( '</tr>'+
                                                                    '<tr>'+
                                                                        '<th>Client</th>'+
                                                                        '<td>탈퇴한 클라이언트</td>'+
                                                                    '</tr>');
                            }
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        if (user_id == Cid) {
                            console.log(data[i].Title);
                        }
                        <% if (sess_level==0) { %>
                            if (data[i].State == "APPLIABLE") {
                                will_be_append = will_be_append.concat('<tr><th>의뢰 삭제</th><td><input type="button" class="btn btn-default" onclick="delete_request(\''+data[i].Id+'\')" value="의뢰 삭제"></td></tr>');
                            }
                        <% } %>
                        $('#basic_info tbody').append(will_be_append);
                        var user_id = <%-JSON.stringify(sess_id)%>;

                        if((user_id == data[i].Client_id || user_id=='admin') && data[i].State=='APPLIABLE') {
                            document.getElementById('add_req_spec').style.display = "block";
                            document.getElementById('update_visible').style.display = "block";
                            document.getElementById('laguage_add_visible').style.display = "block";
                        }
                        else {
                            document.getElementById('add_req_spec').style.display = "none";
                            document.getElementById('update_visible').style.display = "none";
                            document.getElementById('language_add_visible').style.display = "none";
                        }
                    }
                },
                error: function(err) {
                console.log(err);
                }
            });

            $.ajax({
                type: 'get',
                url: '/get_request_info/freelancer_apply/'+Id,
                success: function(data) {
                    console.log(data);
                    $('#apply_visible tbody').html("");
                    if (data == "TRUE") { //자격 만족, 구인 중 상태
                        var will_be_append = '<tr>';
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        <% if (sess_level==2) { %> //사용자가 프리랜서
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="apply_request(\''+user_id+'\')" value="의뢰 신청"></td>');
                        <% } %>
                        will_be_append = will_be_append.concat('</tr>');
                        $('#apply_visible tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });

            $.ajax({
                type: 'get',
                url: '/get_request_info/get_language/'+Id,
                success: function(data) {
                    $('#language tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var will_be_append = '<tr>'+
                                                    '<td>'+data[i].Language+'</td>'+
                                                    '<td>'+data[i].Level+'</td>';
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        if ((user_id == data[i].Client_id || user_id=='admin') && data[i].State=='APPLIABLE') {
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="delete_language(\''+data[i].Language+'\')" value="요건 삭제"></td>');
                        }
                        will_be_append = will_be_append.concat('</tr>');
                        $('#language tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });

            $.ajax({
                type: 'get',
                url: '/get_request_info/get_request_file/'+Id,
                success: function(data) {
                    $('#request_file tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var will_be_append = '<tr>'+
                                                      '<td><a href="/view_file/req_spec/'+Id+'_'+data[i].File_id+'">'+data[i].File_id+'</a></td>';
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        if ((user_id == data[i].Client_id || user_id=='admin') && data[i].State=='APPLIABLE') {
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="delete_request_file(\''+data[i].File_id+'\')" value="파일 삭제"></td>');
                        }
                        will_be_append = will_be_append.concat('</tr>');
                        $('#request_file tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });

            $.ajax({
                type: 'get',
                url: '/get_request_info/get_worker_list/'+Id,
                success: function(data) {
                    console.log(data);
                    $('#worker tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var will_be_append = '<tr>'+
                                                    '<td><a href="/freelancer_profile/'+data[i].Pid+'">'+data[i].Pid+'</a></td>'+
                                                    '<td>'+data[i].State+'</td>';
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        if (user_id == data[i].Cid) { //
                            will_be_append = will_be_append.concat('<td>권한 없음</td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="view_message_button()" value="메시지 보기"></td>');
                            if (data[i].State == 'SUBMIT') {
                              will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="completed_accept(\''+data[i].Pid+'\')" value="완료수락"></td>');
                              will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="completed_reject(\''+data[i].Pid+'\')" value="완료거절"></td>');
                              will_be_append = will_be_append.concat('<td>수락 후 가능</td>');
                            }
                            else if (data[i].State == 'COMPLETED') {
                              will_be_append = will_be_append.concat('<td>이미 수락</td>');
                              will_be_append = will_be_append.concat('<td>-</td>');
                              will_be_append = will_be_append.concat('<td><form class="form-inline"><input type="radio" name="rate" value="1">1<input type="radio" name="rate" value="2">2<input type="radio" name="rate" value="3">3<input type="radio" name="rate" value="4">4<input type="radio" name="rate" value="5">5<input type="submit" class="btn btn-default" onclick="rate_freelancer(\''+data[i].Pid+'\')" value="RATE"></form></td>');
                            }
                        }
                        if (user_id == data[i].Pid) {
                            if (data[i].State == 'COMPLETED') {
                              will_be_append = will_be_append.concat('<td>수행완료</td>');
                              will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="view_message_button()" value="메시지 보기"></td>');
                              will_be_append = will_be_append.concat('<td>권한 없음</td>');
                              will_be_append = will_be_append.concat('<td>권한 없음</td>');
                              will_be_append = will_be_append.concat('<td><form class="form-inline" id="rate_client"><input type="radio" name="rate" value="1">1<input type="radio" name="rate" value="2">2<input type="radio" name="rate" value="3">3<input type="radio" name="rate" value="4">4<input type="radio" name="rate" value="5">5<input type="submit" class="btn btn-default" onclick="rate_client(\''+data[i].Cid+'\')" value="RATE"></form></td>');
                            }
                            else {
                              will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="completed_request(\''+data[i].Pid+'\')" value="수행완료"></td>');
                              will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="view_message_button()" value="메시지 보기"></td>');
                              will_be_append = will_be_append.concat('<td>권한 없음</td>');
                              will_be_append = will_be_append.concat('<td>권한 없음</td>');
                              will_be_append = will_be_append.concat('<td>수락 후 가능</td>');
                            }
                        }
                        <% if (sess_level==0) { %>
                            will_be_append = will_be_append.concat('<td>권한 없음</td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="view_message_button()" value="메시지 보기"></td>');
                            will_be_append = will_be_append.concat('<td>권한 없음</td>');
                            will_be_append = will_be_append.concat('<td>권한 없음</td>');
                            will_be_append = will_be_append.concat('<td>권한 없음</td>');
                        <% } %>
                        $('#worker tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
            $.ajax({
                type: 'get',
                url: '/get_request_info/get_applier_list/'+Id,
                success: function(data) {
                    console.log(data);
                    $('#applier tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var will_be_append = '<tr>'+
                                                    '<td><a href="/freelancer_profile/'+data[i].Pid+'">'+data[i].Pid+'</a></td>'+
                                                    '<td>'+data[i].State+'</td>';
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        if (user_id == data[i].Cid) {
                          will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="accept_request(\''+data[i].Pid+'\')" value="선택"></td>');
                          will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="reject_request(\''+data[i].Pid+'\')" value="거절"></td>');
                        }
                        <% if (sess_level==0) { %>
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="accept_request(\''+data[i].Pid+'\')" value="선택"></td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="reject_request(\''+data[i].Pid+'\')" value="거절"></td>');
                        <% } %>
                        will_be_append = will_be_append.concat('</tr>');
                        $('#applier tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });

            $('#update').submit(function(){
                var v = {
                        id: Id,
                        attr: $("#update_attr").val(),
                        value: $("#update_value").val()
                    }
                $.ajax({
                    type: 'post',
                    url: '/get_request_info/update',
                    data: v,
                    success: function(data) {
                        console.log(attr);
                        console.log(value);
                        window.location="/request_info/"+Id;
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            });

            $('#language_add').submit(function(){
                var v = {
                        id: Id,
                        language: $("#new_language").val(),
                        level: $('input[name="skill"]:checked').val()
                    }
                $.ajax({
                    type: 'post',
                    url: '/get_request_info/add_language',
                    data: v,
                    success: function(data) {
                        window.location="/get_request_info/"+Id;
                    },
                    error: function(err) {
                        console.log(err);
                    }
                });
            });

        });

        function view_message_button() {
          window.location="/view_message/"+Id;
        }
        function apply_request(Participant_id){
            var v = {
                    Request_id : Id,
                    Participant_id : Participant_id
                }
            $.ajax({
                type: 'post',
                url: '/get_request_info/apply_request',
                data: v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function delete_request(Request_id){
            var v = {
              id : Request_id
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/delete_request",
                data : v,
                success: function(data) {
                    window.location="/request_list";
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function completed_request(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Work_state : "SUBMIT"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/completed_request",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function completed_accept(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Work_state : "COMPLETED"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/completed_accept",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function completed_reject(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Work_state : "WORKING"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/completed_reject",
                data : v,
                success: function(data) {
                    window.location="/view_message/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function accept_request(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Apply_state : "ACCEPTED",
              Work_state : "WORKING"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/accept_request",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function reject_request(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Apply_state : "REJECTED"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/reject_request",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function rate_freelancer(Participant_id){
          var v = {
                  Rid : Id,
                  Pid: Participant_id,
                  Rate: $('input[name="rate"]:checked').val()
              }
          $.ajax({
              type: 'post',
              url: '/get_request_info/rate_freelancer',
              data: v,
              success: function(data) {
                  window.location="/request_info/"+Id;
              },
              error: function(err) {
                  console.log(err);
              }
          });
        }
        function rate_client(Client_id){
          var v = {
                  Rid : Id,
                  Cid: Client_id,
                  Rate: $('input[name="rate"]:checked').val()
              }
          $.ajax({
              type: 'post',
              url: '/get_request_info/rate_client',
              data: v,
              success: function(data) {
                  window.location="/request_info/"+Id;
              },
              error: function(err) {
                  console.log(err);
              }
          });
        }
        function delete_language(Language){
            var v = {
                    id: Id,
                    language: Language
                }
            $.ajax({
                type: 'post',
                url: "/get_request_info/delete_language",
                data: v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }

        function delete_request_file(File_id){
            var v = {
                    id: Id,
                    file_id: File_id
                }
            $.ajax({
                type: 'post',
                url: "/get_request_info/delete_request_file",
                data: v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        /*
        $('#add_req_spec').submit(function(){
            var formData = new FormData(this);
            $.ajax({
                type: 'post',
                url: '/file_upload/add_req_spec',
                data: formData,
                processData: false,
                contentType: false,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        });
        */

    </script>

</html>
