<!DOCTYPE html>
<html lang="ko">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- 위 3개의 메타 태그는 *반드시* head 태그의 처음에 와야합니다; 어떤 다른 콘텐츠들은 반드시 이 태그들 *다음에* 와야 합니다 -->
        <title>yssb</title>
        <style>
        .button {
          background-color: #4CAF50;
          border: none;
          color: white;
          padding: 15px 20px;
          text-align: center;
          font-size: 14px;
          cursor: pointer;
        }

        .button:hover {
            background-color: green;
        }
        </style>

        <!-- 부트스트랩 -->
        <!-- 합쳐지고 최소화된 최신 CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

        <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
        <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/index">YSSB</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
          <!--<li class="active"><a href="#"> <span class="sr-only">(current)</span></a></li>-->
            <% if(sess_level==0) { %>
            <li><a href="/manager_page">MY PAGE</a></li>
            <% } else if (sess_level==1) { %>
            <li><a href="/client_profile/<%= sess_id %>">MY PAGE</a></li>
            <% } else if (sess_level==2) { %>
            <li><a href="/freelancer_profile/<%= sess_id %>">MY PAGE</a></li>
            <% }%>
            <% if(sess_id){ %>
            <li><a href="/request_list">Request List</a></li>
            <% }%>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if(sess_id){ %>
              <li><a href="/logout">LOG OUT</a></li>
            <% }else{ %>
              <li><a href="/login">LOG IN</a></li>
              <li><a href="/signup">SIGN UP</a></li>
            <% } %>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>
    <body>

        <div id="basic_info">
          <h3>의뢰 정보</h3>
          <table style="width :100%;" class="table table-striped">
            <tbody>
            </tbody>
          </table>
        </div>

        <!--어드민이거나 의뢰의 의뢰자이면, 수정 가능-->


        <div id="worker">
              <h3>참여 중인 프리랜서</h3>
              <table style="width :100%;" class="table table-striped">
              <thead>
                  <tr>
                      <th>아이디</th>
                      <th>상태</th>
                      <th>완료요청</th>
                      <th>거부사유확인</th>
                      <th>완료수락</th>
                      <th>완료거절</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>

        <div id="applier">
              <h3>신청 중인 프리랜서</h3>
              <table style="width :100%;" class="table table-striped">
              <thead>
                  <tr>
                      <th>아이디</th>
                      <th>상태</th>
                      <th>선택</th>
                      <th>거절</th>
                  </tr>
              </thead>
              <tbody>
              </tbody>
          </table>
        </div>

        <input class="button" type="submit" id="apply" value="의뢰 신청">
        <button class="button">의뢰 완료 요청</button>
        <input class="button" type="submit" id="view_message_button" value="의뢰 거부 메시지">

        <!-- jQuery (부트스트랩의 자바스크립트 플러그인을 위해 필요합니다) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    </body>

    <script>
        var path_array = window.location.pathname.split('/');
        var Id = path_array[2];
        $(function(){

            $.ajax({
                type: 'get',
                url: '/get_request_info/'+Id,
                success: function(data) {
                    console.log(data);
                    $('#basic_info tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var Cid = data[i].Client_id;
                        var will_be_append = '<tr>'+
                                                    '<th>Id</th>'+
                                                    '<td>'+data[i].Id+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>Title</th>'+
                                                    '<td>'+data[i].Title+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>Pay</th>'+
                                                    '<td>'+data[i].Pay+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>Career</th>'+
                                                    '<td>'+data[i].Min_career+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>State</th>'+
                                                    '<td>'+data[i].State+'</td>'+
                                                '</tr>'+
                                                '<tr>'+
                                                    '<th>Client</th>'+
                                                    '<td><a href="/client_profile/'+data[i].Client_id+'">'+data[i].Client_id+'</a></td>'+
                                                '</tr>';
                      var user_id = <%-JSON.stringify(sess_id)%>;
                      if (user_id == Cid) {
                          will_be_append = will_be_append.concat('<tr><th>Update</th><td><input type="button" class="btn btn-default" onclick="delete_request(\''+data[i].Id+'\')" value="의뢰 수정"></td></tr>');
                      }
                      <% if (sess_level==0) { %>
                          will_be_append = will_be_append.concat('<tr><th>Update</th><td><input type="button" class="btn btn-default" onclick="delete_request(\''+data[i].Id+'\')" value="의뢰 수정"></td></tr>');
                          if (data[i].State == "APPLIABLE") {
                              will_be_append = will_be_append.concat('<tr><th>Delete</th><td><input type="button" class="btn btn-default" onclick="delete_request(\''+data[i].Id+'\')" value="의뢰 삭제"></td></tr>');
                          }
                      <% } %>
                        $('#basic_info tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                console.log(err);
                }
            });

            $.ajax({
                type: 'get',
                url: '/get_request_info/get_worker_list/'+Id,
                success: function(data) {
                    console.log(data);
                    $('#worker tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var will_be_append = '<tr>'+
                                                    '<td><a href="/freelancer_profile/'+data[i].Pid+'">'+data[i].Pid+'</a></td>'+
                                                    '<td>'+data[i].State+'</td>';
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        if (user_id == data[i].Cid) {
                            will_be_append = will_be_append.concat('<td>-</td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="view_message_button()" value="메시지 보기"></td>');
                        }
                        if (user_id == data[i].Pid) {
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="completed_request(\''+data[i].Pid+'\')" value="수행완료"></td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="view_message_button()" value="메시지 보기"></td>');
                        }
                        <% if (sess_level==0) { %>
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="completed_request(\''+data[i].Pid+'\')" value="수행완료"></td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="view_message_button()" value="메시지 보기"></td>');
                        <% } %>
                        if (user_id == data[i].Cid && data[i].State == 'SUBMIT') {
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="completed_accept(\''+data[i].Pid+'\')" value="완료수락"></td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="completed_reject(\''+data[i].Pid+'\')" value="완료거절"></td>');
                        }
                        will_be_append = will_be_append.concat('</tr>');
                        $('#worker tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });
            $.ajax({
                type: 'get',
                url: '/get_request_info/get_applier_list/'+Id,
                success: function(data) {
                    console.log(data);
                    $('#applier tbody').html("");
                    for(var i = 0 ; i < data.length; i ++) {
                        var will_be_append = '<tr>'+
                                                    '<td><a href="/freelancer_profile/'+data[i].Pid+'">'+data[i].Pid+'</a></td>'+
                                                    '<td>'+data[i].State+'</td>';
                        var user_id = <%-JSON.stringify(sess_id)%>;
                        if (user_id == data[i].Cid) {
                          will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="accept_request(\''+data[i].Pid+'\')" value="선택"></td>');
                          will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="reject_request(\''+data[i].Pid+'\')" value="거절"></td>');
                        }
                        <% if (sess_level==0) { %>
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="accept_request(\''+data[i].Pid+'\')" value="선택"></td>');
                            will_be_append = will_be_append.concat('<td><input type="button" class="btn btn-default" onclick="reject_request(\''+data[i].Pid+'\')" value="거절"></td>');
                        <% } %>
                        will_be_append = will_be_append.concat('</tr>');
                        $('#applier tbody').append(will_be_append);
                    }
                },
                error: function(err) {
                    console.log(err);
                }
            });

            $('#apply').click(function(){
              var v = {
                      Request_id : Id,
                      Participant_id : <%=sess_id%>,
                      State : "WAITING"
                  }
              $.ajax({
                  type: 'post',
                  url: '/get_request_info/apply',
                  data: v,
                  success: function(data) {
                      window.location="/request_info/"+Id;
                  },
                  error: function(err) {
                      console.log(err);
                  }
              });
            });
        });
        function view_message_button() {
          window.location="/view_message/"+Id;
        }
        function delete_request(Request_id){
            var v = {
              id : Request_id
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/delete_request",
                data : v,
                success: function(data) {
                    window.location="/request_list";
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function completed_request(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Work_state : "SUBMIT"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/completed_request",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function completed_accept(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Work_state : "COMPLETED"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/completed_accept",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                    //평점 지정하기
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function completed_reject(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Work_state : "SUBMIT"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/completed_reject",
                data : v,
                success: function(data) {
                    window.location="/view_message/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function accept_request(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Apply_state : "ACCEPTED",
              Work_state : "WORKING"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/accept_request",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
        function reject_request(Participant_id){
            var v = {
              Request_id : Id,
              Participant_id : Participant_id,
              Apply_state : "REJECTED"
            }
            $.ajax({
                type: 'post',
                url: "/get_request_info/reject_request",
                data : v,
                success: function(data) {
                    window.location="/request_info/"+Id;
                },
                error: function(err) {
                    console.log(err);
                }
            });
        }
    </script>

</html>
